@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Playfair';

}

.main-background{
    background: #2C3540;
}

/* Navbar */
.main-navbar{
    background: #CCCED9;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.main-navbar h4{
    font-family: 'Orbitron';
}
.navbar-brand h4{
    background: #8A99A6;
    margin: 0;
    padding: .5rem;
}
/* .navbar-toggler{
    background: #8A99A6;
} */
.toggle-background{
    background: #8A99A6;
    width: 40px;
    height: 40px;
    position: relative;
    right: -68px;
}
.main-navbar .toggle{
    position: relative;
    width: 40px;
    height: 40px;
    background: url('../images/navbar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.main-navbar .toggle::before{
    content: "menu";
    position: absolute;
    right: 40px;
    text-transform: uppercase;
    color: #f3f3f3;
    display: none;
    letter-spacing: 2px;
    font-size: 14px;
}

.main-navbar .active{
    background: url('../images/close2.png');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
.main-navbar .active::before{
    content: "close";
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* Nav Glass CSS */
.glass{
    display: none;
}

.main-glass .show{
    display: grid;
    width: 20rem;
    height: 85vh; 
    right: 0;
    position: absolute;
    z-index: 6;
    margin-top: 2.1rem;
    background: transparent;
    backdrop-filter: blur(40px);
}
.glass .nav-list li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
   
}
.glass .nav-list{
    text-align: center;
    margin-top: 5rem;
}
.glass .nav-list a{
    text-decoration: none;
    color: #f3f3f3 !important;
}

/* Carousel Background Color */
.background1{
    background-color: #2C3540;
    height: 45vh;
    width: 100%;
}
.background2{
    background-color: #000000;
    height: 35vh;
    width: 100%;
}

/* Carousel */
.slide{
    position: absolute;
    margin-top: -18rem;
    padding: 0;
}
.slide .carousel-image1{
    opacity: 0.2 !important;
}
.slide .slide-image{
    height: 75vh;
    opacity: 0.5;
    width: 100%;
}
.slide .profile{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: -9rem;
}

.carousel-indicators li{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
}
.carousel-caption{
    padding-bottom: 5rem;
}
.carousel-caption .btn-success{
    padding: .3rem;
    margin-top: 2px;
}
.slide .carousel1 a{
    margin-top: 1rem;
}

/*  about */
.about-parallax h3{
    text-align: center;
    padding-top: 1rem;
    color: #f3f3f3;
    margin: .5rem;
}
.about-parallax{
    background-image: url("../images/pexels-photo-5926397.jpeg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 10vh;
}
.about-card{
    background-color: rgba(196, 196, 196, 0.6); 
}
.about img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: .5rem;
    margin-left: 30%;
    opacity: .9;
}
.about-content{
    margin-top: 2rem;
}
.info{
    text-align: center;
}
.about-button{
    margin-top: .5rem;
    margin-left: 32%;
}

/* Projects CSS */
.project-card{
    width: 100%;
    background-color: rgba(204,206,217, 0.6); 
}
.project-card2{
    margin-top: 1rem;
}
.project-button {
    text-align: center;
}
.project-button a{
    font-size: 1.3rem;
}

/* Skill CSS */
.skill-card{
    background-color: rgba(196, 196, 196, 0.6); 
    text-align: center;
}
.skill-icon i{
    font-size: 5rem;
}
.skill-icon .skills{
    font-weight: bold;
}

/* Contact css */
.contact-main{
    margin-top: 1rem;
}
.contact-text{
    color: #f3f3f3;
}
.contact-main input{
    width: 100%;
    background-color: rgba(204,206,217, 0.6); 
    color: #f3f3f3;
}
.contact-main input::placeholder{
    color: #f3f3f3;
}
.contact-main textarea{
    width: 100%;
    background-color: rgba(204,206,217, 0.6); 
    color: #f3f3f3;
}
.contact-main textarea::placeholder{
    color: #f3f3f3;
    padding-left: 4.5rem;
    padding-top: 6rem;
    font-size: 1.5rem;
}
.contact-main .btn-primary{
    margin-left: 30%;
    margin-bottom: 1rem;
    margin-top: .5rem;
}
.contact-main input{
    padding: .5rem;
}


/* FOOTER */

footer{
    background: #282C2F;
    bottom: 0;
}
.footer-row{
    margin: 0;
}
.footer-col-1 .location{
    text-align: center !important;
}
.row .col-3 i{
    margin: 0;
    margin-left: 1.5rem ;
}
.row .col-3{
    margin: 0 !important;
}

.icons{
    margin-top: .5rem;
    margin-left: 4.5rem;
}
.icons i{
    margin: .5rem;
    font-size: 2rem;
}

.footer-col-2{
    display: none;
}
span{
    color: #f3f3f3;
}
.about-my-self{
    color: #f3f3f3;
    font-size: 1.5rem;
    font-weight: bold;
}
.map{
    color:#f3f3f3;
}
p{
    color: #f3f3f3;
}
.reserve{
    padding-top: .5rem;
    padding-left: 6rem;
    border-top: 1px solid rgba(138,153,166,0.5);
    height: 7vh;
}

@media only screen and (min-width: 414px){

/* Carousel */
.slide{
    margin-top: -19.5rem;
}
/* Parallax */
.about-parallax h3{
    padding-top: 1.5rem;   
}

/* About */
.about-button{
    margin-left: 35%;
}

/* Projects */
.project-card2{
    margin-top: 1rem;
}

/* Contact css */
.contact-main input{
    padding: .5rem;
}
.contact-main .btn-primary{
    margin-left: 35%;
}
.contact-main textarea::placeholder{
    padding-left: 6rem;
    padding-top: 6rem;
    font-size: 1.5rem;
}

/* Footer */
.reserve{
    padding-left: 7rem;
}
.icons{
    margin-left: 5.5rem;
}

}

@media only screen and (min-width: 768px){

    /* Carousel */
.slide{
    margin-top: -27.5rem;
}
.slide .slide-image{
    margin-left: 0rem;
}
.slide .carousel-caption{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    margin-bottom: 2rem;   
    height: 50vh;
    width: 90%;
    margin-left: -4rem;
}
.slide .profile{
    width: 13rem;
    height: 13rem;
    margin-top: 1rem;
}
.slide .text h5{
    font-size: 4rem;
}
.slide .text{
    font-size: 1.5rem;
    text-align: center;
}
.slide .text a{
    font-size: 1.3rem;
}

/* Parallax */
.about-parallax h3{
    font-size: 3rem;   
}

/* About */
.about img{
    margin-left: 40%;
}
.about-button{
    margin-left: 39%;
}
.info{
    font-size: 2rem;
}
.about-button a{
    font-size: 1.5rem;
}

/* Projects */
.project-card2{
    margin-top: 0;
}

/* Contact css */
.contact-main input{
    padding: .5rem;
    font-size: 2rem;
}
.contact-main .btn-primary{
    margin-left: 38%;
    font-size: 1.5rem;
}
.contact-main input::placeholder{
    font-weight: lighter;
}
.contact-main textarea::placeholder{
    padding-left: 12rem;
    padding-top: 8rem;
    font-size: 2rem;
    font-weight: 100;
}
.contact-main textarea{
    font-size: 2rem;
    height: 30vh;
}
.contact-text{
    font-size: 2rem;
}

/* Footer */
.footer-col-2{
    display: grid;
}
.reserve {
    padding-top: 1rem;
    padding-left: 16rem;
    font-size: 1.5rem;
}
.footer-col-1{
    margin-top: 3rem;
}
.icons{
    margin-top: 3rem;
}

}

@media only screen and (min-width: 1024px){

        /* Carousel */
.slide{
    margin-top: -36rem;
}
.slide .slide-image{
    margin-left: 0rem;
}
.slide .carousel-caption{
    margin-bottom: 2rem;   
    height: 50vh;
    width: 90%;
    margin-left: -4rem;
}
.slide .profile{
    width: 15rem;
    height: 15rem;
    margin-top: 1rem;
    border-radius: 30px;
}
.carousel1-1{
    margin-left: -35px;
}
.carousel1-2 a{
    margin-right: -76px;
}

/* Parallax */
.about-parallax h3{
    font-size: 2.5rem;
    padding-top: 2.5rem;   
}

/* About */
.about img{
    margin-left: 40%;
    height: 12rem;
    width: 12rem;
}
.about-button{
    margin-left: 43%;
}
.info{
    font-size: 2rem;
}

/* Skills */
.skill-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.skills{
    font-size: 2rem;
}

/* Contact css */
.contact-main .btn-primary{
    margin-left: 37%;
    font-size: 2rem;
}
.contact-main textarea::placeholder{
    padding-left: 20rem;
    padding-top: 12rem;
}

/* Footer */
.reserve {
    padding-top: 1.5rem;
    padding-left: 25rem;
    font-size: 1.5rem;
}
.footer-col-1{
    margin-top: 2rem;
}
.footer-col-1{
    font-size: 1.5rem;
}
.footer-col-2 .about-my-self{
    font-size: 2rem;
}
.footer-col-2{
    font-size: 1.5rem;
}
.footer-col-2 p{
    text-indent: 3rem;
}
.icons i{
    font-size: 3rem;
}

}

@media only screen and (min-width: 1025px){

    /* Carousel */
.slide{
margin-top: -17.5rem;
}
.slide .slide-image{
margin-left: 0rem;
}
.carousel-indicators{
    margin-left: 23rem;
}

/* Parallax */
.about-parallax h3{
font-size: 2.5rem;
padding-top: .5rem;   
}

/* About */
.about img{
margin-left: 40%;
height: 12rem;
width: 12rem;
}
.about-button{
margin-left: 45%;
font-size: 1rem;
}
.about-button a{
font-size: 1rem;
}
.info{
font-size: 1.5rem;
}
.about-content{
    margin-top: 1rem;
}

/* Skills */
.skill-card{
display: grid;
grid-template-columns: repeat(3,1fr);
    }
.skills{
font-size: 2rem;
}

/* Contact css */
.contact-main input{
    width: 50%;
    font-size: 1.2rem;
}
.contact-main textarea{
    height: 35vh;
}
.contact-main .btn-primary{
margin-left: 40%;
font-size: 1.5rem;
}
.contact-main textarea::placeholder{
padding-left: 25rem;
padding-top: 6rem;
}
  
/* Footer */
.reserve {
padding-top: .5rem;
padding-left: 35rem;
}
.footer-col-1{
margin-top: 1rem;
}
.footer-col-1{
font-size: 1.5rem;
}
.footer-col-2 .about-my-self{
font-size: 2rem;
}
.footer-col-2{
font-size: 1.5rem;
}
.icons i{
font-size: 3rem;
}
.icons{
    margin-left: 12rem;
}


}



